textarea {
    min-height: 400px;
}

.listed-email { 
    padding-top: 5px;
    padding-bottom: 5px;
    border-style:solid;
    border-width: 1px;
    border-radius: 10px;
    text-indent: 5px;
    border-collapse: collapse;
}

.email-row {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
}

#ind-subject {
    display: inline-block;
    width: 75%;
    font-weight: bold;
    font-size: 24px;
}

#archive {
    display: inline-block
}

#ind-body {
    font-size: 20px;
}

#ind-time {
    text-align: right;
    padding-top: 8px;
}